
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Discovered Diseases</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<table class="table-success">
    <thead>
    <tr>
        <th scope="col">Country name</th>
        <th scope="col">Disease code</th>
        <th scope="col">First Enc Date</th>
    </tr>
        <tr th:each="discover:${discovered}">
        <td th:text="${discover.id.cname.id}"></td>
        <td th:text="${discover.id.disease_code}"></td>
        <td th:text="${discover.firstEncDate}"></td>
    </tr>
    </thead>
</table>
<form action="/" >
    <button type="submit" class="btn btn-primary">Main Page</button>
</form>
</body>
</html>
