
<html>
<head>
    <title>This is the title of the webpage!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<form action="/add/doctor" method="get">
     <button type="submit" class="btn btn-primary">Add doctor</button>
</form>
<form action="/add/statistician" method="get">
    <button type="submit" class="btn btn-primary">Add Statistician</button>
</form>
<form action="/see/users" >
    <button type="submit" class="btn btn-primary">See users</button>
</form>
<form action="/discover" >
    <button type="submit" class="btn btn-primary">Discovered</button>
</form>
<form action="/logout" >
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
</body>
</html>